body {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.container {
    width: 70%;
    margin: auto;
}
.heading {
    font-family: 'Nabla', cursive;
    text-align: center;
    font-size: x-large;
}
a {
    text-decoration: none;
}
.btn-dark {
    color: #fff;
    background-color: black;
    border-color: #000000;
}
.textCenter {
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
}
table,
th,
td {
    border-collapse: collapse;
    border: 1px solid black;
    border-color: black;
}
table {
    width: 100%;
}
th, td {
    padding: 15px 5px;
    text-align: center;
}